@use '../custom' as *;
.menu {
  background-color: $primary;
  padding-top: 2.8rem;
  li {
    padding: 0 1rem;
    .line {
      height: 50px;
      display: block;
      position: absolute;
      border: 1px solid $gray-500;
      margin-bottom: 10px;
    }
  }
  a {
    color: $white !important;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: sans-serif;
    &:hover {
      color: $white;
    }
    p {
      color: red;
    }
  }
}

.menu {
  @include media-breakpoint-down(md) {
    padding-top: 1rem;
    a {
      font-size: 1.2rem;
      .logo {
        width: 100px;
        height: 50px;
      }
      i {
        font-size: 1.8rem;
      }
    }
  }
}
.menu {
  @include media-breakpoint-down(md) {
    li {
      .line {
        display: none;
      }
    }
  }
}
