@use '../custom' as *;
@use '../components/mixins' as *;
.participate {
  background: $bg;
  padding-top: 4rem;
  .desc {
    @include text-desc;
    img {
      float: left;
      padding-right: 1rem;
    }
  }
  .mb-desc {
    @include mb-desc;
  }
  .qualify-btn {
    display: flex;
    flex-direction: row;
    width: 20rem;
    font-size: 1.45rem;
    height: 3.8rem;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 3rem;
    justify-content: space-around;
  }
  .second-section {
    @include section-margin;
    .stack {
      @include stack;
      .first-title {
        @include stack-icon;
        font-size: 1.35rem;
        span {
          i {
            font-size: 1.5rem;
          }
        }
      }
      .first-desc {
        @include stack-desc;
        transform: scaleY(1.3);
      }
    }
  }
  .last-link {
    a {
      display: flex;
      flex-direction: row;
      font-size: 1.45rem;
      font-weight: 500;
      align-items: center;
      flex-wrap: nowrap;
      margin-top: 2rem;
      justify-content: flex-start;
      color: $info;
      text-decoration: none;
      margin-bottom: 2rem;
      .arrow {
        padding-left: 30px;
      }
    }
    .criteria-text {
      font-size: 0.875rem;
      color: #767776;
      margin-bottom: 2rem;
    }
  }
}

.participate {
  @include media-breakpoint-down(sm) {
    .qualify-btn {
      width: 15rem;
      font-size: 1.1rem;
      height: 3.5rem;
      margin: 0 auto;
      border-bottom: none;
      margin-top: 2rem;
    }
    .title-participate {
      font-size: 2rem;
      padding-top: 2rem;
      margin-top: -3rem;
    }
    .desc {
      padding: 0;
      font-size: 1.1rem;
    }
    .second-section {
      .stack {
        .first-title {
          font-size: 1rem;
          .first-desc {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
.participate {
  @include media-breakpoint-down(xl) {
    .second-section {
      .title-participate {
        font-size: 2.4rem;
      }
      .desc {
        padding-right: 4.5rem;
      }
    }
  }
}
.participate {
  @include media-breakpoint-down(lg) {
    .second-section {
      .title-participate {
        font-size: 2rem;
      }
      .desc {
        padding-right: 4rem;
      }
      .stack {
        .first-title {
          font-size: 1rem;
          span {
            i {
              font-size: 1rem;
            }
          }
        }
        .first-desc {
          font-size: 1.1rem;
        }
      }
    }
  }
}
